/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f2f5;
    color: #333;
    line-height: 1.6;
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: #4CAF50;
    font-size: 2.5em;
}

/* Center form on the page */
form {
    max-width: 600px;
    margin: 50px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

input, select, textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    background-color: #f9f9f9;
    transition: background-color 0.3s ease;
}

input:focus, select:focus, textarea:focus {
    background-color: #e9f5e9;
    border-color: #4CAF50;
    outline: none;
}

textarea {
    height: 100px;
    resize: none;
}

button {
    display: inline-block;
    width: 100%;
    padding: 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

#downloadProfile {
    margin-top: 20px;
}

/* Profile Display Styling */
#generatedProfile {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#generatedProfile img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 20px;
}

#generatedProfile h2 {
    margin-bottom: 10px;
    font-size: 1.8em;
    color: #4CAF50;
}

#generatedProfile p {
    margin-bottom: 5px;
    font-size: 1.1em;
}

/* Social Media Icons */
#generatedProfile a {
    display: inline-block;
    margin: 10px;
    font-size: 1.5em;
    text-decoration: none;
    color: #555;
}

#generatedProfile a:hover {
    color: #4CAF50;
}

/* Responsive Design */
@media only screen and (max-width: 600px) {
    form, #generatedProfile {
        width: 100%;
        padding: 20px;
    }
}

/* Themes */
.light-theme {
    background-color: #ffffff;
    color: #333333;
}

.dark-theme {
    background-color: #2c2c2c;
    color: #f1f1f1;
}

.professional-theme {
    background-color: #f4f4f4;
    color: #333333;
    font-family: 'Times New Roman', Times, serif;
}

.creative-theme {
    background-color: #ffeb3b;
    color: #000000;
    font-family: 'Comic Sans MS', cursive, sans-serif;
}
